# This example shows how you can send a Telegram message using Telegram Bot API.
# Telegram docs: https://core.telegram.org/bots/api#sendmessage
#
# Test with:
#
# curl "http://localhost:7055/telegram/world"
#

# All logging enabled
debug: true
listeners:

  # The route
  /telegram/:name:

    env:
      # If the program is run with the TELEGRAM_BOT_TOKEN environment
      # variable set, it will use that one, otherwise use the provided
      # string.
      TELEGRAM_BOT_TOKEN: '{{ coalesce (env "TELEGRAM_BOT_TOKEN") "123123123:xxxxxxxxxxxxxxxxxxxxx" }}'

    # For cleanliness and readability, save the Telegram payload in a tmp YAML file,
    # which will be converted to JSON later.
    files:
      payload.yaml: |
        # Replace with your chat id
        chat_id: {{ coalesce (env "TELEGRAM_CHAT_ID") "123123123" }}
        # Allow formatting
        parse_mode: Markdown
        text: |
          Hello *{{ .name }}*!

    # Command to run, and list of arguments
    command: bash
    args:
      - -c
      - |
        HOOK="https://api.telegram.org/bot$TELEGRAM_BOT_TOKEN/sendMessage"

        # Send the request, converting the YAML file into a JSON one on the fly, and
        # expect HTTP 200 code
        [ $(curl -s -o /dev/stderr --write-out "%{http_code}" \
          -X POST -H "Content-Type: application/json" "$HOOK" --data-binary @- << EOF
        {{ fileReadToString (gte).files.payload_yaml | yamlToJson }}
        EOF
        ) -eq 200 ]